
<!DOCTYPE html>
<head>
  <title>Chimeras!</title>
  <link
    rel="shortcut icon"
    href="{{ url_for('static', filename='dog.png') }}"
  />
  <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />
</head>

<body>
  <!-- <img src="{{ url_for('static', filename='dog.png') }}" class="icon" /> -->
  <h3>Make My Chimeras!</h3>
  <form action="/" method="post">
    <!-- <input type="text" name="animal" placeholder="Enter an animal" required /> -->
    <input type="submit" value="Generate" />
  </form>
  {% if result %}
  <div class="myDiv">
  <div class="result">{{ result }}</div>
  </div>
  {% endif %}
</body>

<style>
  .myDiv {
    padding: 36px;
  }
  </style>